body {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  width: 40%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
